*{
    margin: 0;
    padding: 0;
    font-family: Arial,  sans-serif;
}

body{  
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vmin;
   
  
} 
   

 
#main{
  padding-top: 2rem;
  margin-top: 3rem;
  width: 600px;
  height: 150px;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  
}

#hor1{
  width: 150px;
  height: 100px;
 background-color: white;
 
}

#hor2{
  width: 150px;
  height: 100px;
 background-color: white;
  margin-right: 4rem;
  
}


#hor3{
  width: 150px;
  height: 100px;
 background-color: white;

}
 
 .hor{
    display: inline-block;
    vertical-align: top;
 }
 
  #img{
   object-fit: cover;
   object-position: center;
   border-radius: 50%;
  }
 
  #title{
    width: 20px;
    font-weight: bold;
    font-size: 30px;
    margin-top: 15px;
    
  }  

  #button{
    margin-top: 2rem;
    font-size: 20px;
     height:40px;
     width: 90px;
     font-weight: bold;
     background-color: #4093EF;
     border-radius: 3px;
     color: white;
     border: none;
  }
